html {
  position: relative;
  min-height: 100%;
  color: #434344;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75%;
}

#messages {
  border: 1px solid #CECECE;
  border-radius: 4px;
  height: 95%;
  overflow: scroll;
  padding: 1em 1em 0 1em;
}

#message-wrap {
  overflow: auto;
  margin-bottom: 1em;
  border: 1px solid #DCDCDC;
  border-radius: 4px;
}

#message-wrap:nth-of-type(even) { background-color: #E6F4F9; border-color: #CAE9F3; margin-left: 1em; }
#message-wrap:nth-of-type(odd) { background-color: #EEEEEE; border-color: #DCDCDC; }
#message-wrap:first-child { border-color: #27AE60; }

/* The left container of the message-wrap div */
.message {
  float: left;
  width: 80%;
  word-wrap: break-word; /* This is important to prevent overflow of text. */
  border-right: 1px solid #DCDCDC;
}

/* The right container of the message-wrap div */
.feedback {
  float: right;
  width: 20%;
}

.message, .feedback {
  /* am not satisfied with how the service (feedback) bottom looks. */
  padding: 1em 1em 0 1em;
}

.progress {
  /* required to prevent .message border-right not stretching to the max size
   * of the message-wrap container as .feedback was larger due to this margin. */
  margin-bottom: 0;
}

h1 {
  margin-bottom: 15px;
  border-bottom: 1px solid #DCDCDC;
}

/* Not certain how I feel about this, but showing it is useful for testing. */
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-thumb { background-color: #DCDCDC; }

/* Am unsure if I want to allow vertical scrolling as it would ruin the 'one page' affect. */
textarea { resize: none; }
textarea.form-control { height: 100%; }
#emit { height: 12.5%; }

.btn { padding: 0px 8px; }
.left-arrow { float: left; }
.right-arrow { float: right; }

#feedback {
  top: 50%;
  left: -2.5%;
  position: absolute;
  z-index: 100000;

  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5)
}

@media (min-width: 1200px) {
  .container {
    max-width: 650px;
  }
}
