html {
  position: relative;
  min-height: 100%;
  font-size: 100%;
}

body {
  font: 1em/1.618 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1,h2,h3 {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  margin-bottom: .6em;
}

p { text-align: justify; }

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75%;
}

#messages {
  border: 1px solid #CCC;
  border-radius: 4px;
  height: 95%;
  overflow: scroll;
  padding: 1em 1em 0 1em;
}

.service_message, .client_message {
  overflow: auto;
  margin-bottom: 1em;
  border: 1px solid #CCC;
  border-radius: 4px;
}

.client_message { background-color: #E6F4F9; border-color: #CAE9F3; margin-left: 1em; }
.service_message { background-color: #EEEEEE; }

.message {
  word-wrap: break-word; /* Prevents overflow of text. */
  padding: 1em 1em 0 1em;
  overflow: auto;
}

.feedback {
  float: left;
  padding: 1em 0 0 .5em;
}

.feedback > p { margin: 0; }

.down-vote:hover, .up-vote:hover {
  color: #FF9D3A;
  z-index: 100001;
  cursor: pointer;
}

.vote-activated { color: #FF9D3A; }

h1 {
  margin-bottom: 15px;
  border-bottom: 1px solid #CCC;
}

::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-thumb { background-color: #CCC; }

textarea { resize: none; }

textarea.form-control,
textarea.form-control:hover,
textarea.form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
}

.form-control:focus { border: 1px solid #FF9D3A; }

textarea.form-control {
  height: 100%;
  font-size: 1em;
}

#emit { height: 12.5%; }

.btn { padding: 0px 8px; }

#feedback {
  top: 50%;
  left: -4.5%;
  position: absolute;

  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5)
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

table {
  display: block;
  margin-bottom: 1em;
}

.modal-header > p { margin: 1em 0 0 0; }

table.striped-columns tbody td:nth-of-type(even),
table.striped-columns th:nth-of-type(even) {
  background: #EEEEEE;
}

table.border td,
table.border th {
  border: 1px solid #CCC;
  width: 100%;
  padding: .5em
}

@media (min-width: 1200px) {
  .container {
    max-width: 600px;
  }
}
