<!DOCTYPE html>
<html>
  <head>
    <title>Health chat &middot; Page not found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css', _external=True) }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css', _external=True) }}" rel="stylesheet">
    <meta http-equiv="refresh" content="5; url=/about" />
  </head>
  <body>
    <div class="container">
      <h1>Whoa, you're lost!</h1>
      <p>Fear not, you will be redirected to our <a href='/about'>about</a> page in a <b>5</b> seconds.</p>
      <p>In the remaining seconds, feast your eyes upon a bearded Bruce Lee:</p>
      <img src="https://s-media-cache-ak0.pinimg.com/736x/f2/55/53/f2555322a3dfc47cbf116c351d5052e5.jpg">
    </div>
  </body>
</html>
