<!DOCTYPE html>
<html lang="en">
<head>
  <title>Health chat service - jawrainey</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Placed here rather than footer as we need to display the initial message -->
  <script src="{{ url_for('static', filename='js/jquery.min.js', _external=True) }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js', _external=True) }}"></script>
  <script src="{{ url_for('static', filename='js/socket.io.min.js', _external=True) }}"></script>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css', _external=True) }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/custom.css', _external=True) }}" rel="stylesheet">
  <script>
  $(document).ready(function() {
    // explicit package upon connection to prevent global namespace use.
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
    // emits user input data to server.
    $('form#emit').submit(function(event) {
        socket.emit('user', $('#emit_data').val());
        return false;
    });
    // response sent from server; user message sent to output on screen.
    socket.on('response', function(msg) {
      // Only the topmost feedback div (like/dislike) should exist.
      if($('.feedback').length) $('.feedback').remove();
      // Add a vote column that includes feedback bar in service response.
      feedback_column = "<div class=\"feedback\">" +
                          "<p><span class=\"glyphicon glyphicon-arrow-up up-vote\"></span></p>" +
                          "<p><span class=\"glyphicon glyphicon-arrow-down down-vote\"></span></p>" +
                        "</div>";
      // Add feedback only for topmost service message.
      feedback_column = (msg.type.indexOf("service") > -1 && $('.service_message').length >= 1) ? feedback_column : "";
      // Assign class for each type of message (sent/received, client/service).
      message_type = (msg.type.indexOf("service") > -1) ? "service_message" : "client_message";

      output = "<div class=" + message_type + ">" +
                  feedback_column +
                  "<div class=\"message\">" +
                    "<p>" + msg.data + "</p>" +
                  "</div>" +
                "</div>";

      $("#messages").prepend(output);
    });

    // When vote cast send data to server to enable response (update) or question.
    // NOTE: this will only change IFF a down-vote has been cast.
    $(document).on('click', '.up-vote, .down-vote', function (e) {
        // Making this available to update it below on response -- sneaky & probably dangerous.
        question_div = $(this).closest('.service_message').find('.message');
        // Send relevant data (associated OEQ, rating, previous msg for analysis) to server.
        socket.emit('vote', {
          question: question_div.text(),
          rating: $(this).attr('class').indexOf("down-vote") > -1 ?  "down": "up",
          prev_user_msg : $(this).closest('#messages').find('.client_message:first').text()
        });
        // IF '.green' exists then remove it before toggling
        $('.feedback .vote-activated').toggleClass('vote-activated');
        // Then toggle the current clicked vote button. Votes not retractable.
        $(this).toggleClass('vote-activated');
        return false;
    });

    // response sent from server to client once a vote has been cast.
    socket.on('vote response', function(msg) {
      // TODO: make it obvious text has changed.
      question_div.find("p").text(msg.data);
    });

    // Allow user to press enter to submit message.
    // TODO: currently using blur to deselect form.
    // Need a way to reset it without leaving newline in textarea.
    // blur currently works, but then user has to reselect form -- bad UX.
    $('form#emit').keypress(function(e) {
      if (e.which == 13) {
        $('#emit').submit();
        $('textarea').blur().val('');
      }
    });

  });
  </script>
</head>
<body>
    <div id="feedback">
      <button type="button" class="btn btn-primary btn-lg">Feedback</button>
    </div>
  <div class="container">
    <h1>Jamie's health chat</h1>
      <form id="emit" class="form" method="POST" action='#'>
        <textarea id="emit_data" class="form-control" placeholder="Type your response here and press enter to submit your message."></textarea>
      </form>
  </div>
  <footer class="footer">
    <div class="container">
      <div id="messages"></div>
    </div>
  </footer>
</body>
</html>
