<!DOCTYPE html>
<html lang="en">
<head>
  <title>Health chat service - jawrainey</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Placed here rather than footer as we need to display the initial message -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/custom.css', _external=True) }}" rel="stylesheet">
  <script>
  $(document).ready(function() {
      // explicit package upon connection to prevent global namespace use.
      var socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
      // emits user input data to server.
      $('form#emit').submit(function(event) {
          socket.emit('user', {data: $('#emit_data').val()});
          return false;
      });
      // response sent from server; user message sent to output on screen.
      socket.on('response', function(msg) {
        $("#messages").append("<p>" + msg.data + "</p>");
      });
  });
  </script>
</head>
<body>
  <div class="container">
    <h1>Health chat service</h1>
    <div id="messages"></div>
  </div>
  <footer class="footer">
    <div class="container">
      <form id="emit" class="form" method="POST" action='#'>
        <textarea id="emit_data" class="form-control" placeholder="Type a response here"></textarea>
        <input type="submit" class="btn btn-default" value="Send">
      </form>
    </div>
  </footer>
</body>
</html>
