<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Health chat &middot; Jay Rainey/@jawrainey{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%- block scripts -%}{%- endblock %}
  <link href="{{ url_for('static', filename='css/bootstrap.min.css', _external=True) }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/custom.css', _external=True) }}" rel="stylesheet">
</head>
<body>
{%- block content -%}
{%- endblock %}
</body>
</html>
