<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Health chat &middot; Jay Rainey/@jawrainey{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%- block scripts %}
  <script src="{{ url_for('static', filename='js/jquery.min.js', _external=True) }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js', _external=True) }}"></script>
  <script src="{{ url_for('static', filename='js/socket.io.min.js', _external=True) }}"></script>
  <script>
  $(document).ready(function() {
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
    $(document).on('click', '#sus_submit', function (e) {
      // TODO: form validation on server side instead.
      var sus = [];
      var errors = [];

      for(count = 1; count <= 10; count++)
      {
        val = $('input:radio[name=sus_' + count + ']:checked').val();
        if (typeof val === "undefined") errors.push(count); else sus.push(val);
      }
      if (errors.length > 0)
      {
        $('.errors').remove();
        $('.modal-header').append('<p class="errors">The following questions are incomplete: <b>' + errors.toString() + '</b></p>');
      }
      else
      {
        socket.emit('feedback', {'sus': sus.toString(), 'general': $('textarea[name=general]').val()});
        $('#sus_feedback').modal('hide');
      }
    });

    {% if request.endpoint == 'main.index' %}
    // Allow user to press enter to submit message.
    $('#user_message').keypress(function(e) {
      if (e.which == 13 && !e.shiftKey) {
        // emits user input data to server.
        socket.emit('user', $('#user_message').val());
        $('textarea').blur().val('');
      }
    });

    // response sent from server; user message sent to output on screen.
    socket.on('response', function(msg) {
      // Only the topmost feedback div (like/dislike) should exist.
      if($('.feedback').length) $('.feedback').remove();
      // Add a vote column that includes feedback bar in service response.
      feedback_column = "<div class=\"feedback\">" +
                          "<p><span class=\"glyphicon glyphicon-arrow-up up-vote\"></span></p>" +
                          "<p><span class=\"glyphicon glyphicon-arrow-down down-vote\"></span></p>" +
                        "</div>";
      // Add feedback only for topmost service message.
      feedback_column = (msg.type.indexOf("service") > -1 && $('.service_message').length >= 1) ? feedback_column : "";
      // Assign class for each type of message (sent/received, client/service).
      message_type = (msg.type.indexOf("service") > -1) ? "service_message" : "client_message";

      output = "<div class=" + message_type + ">" +
                  feedback_column +
                  "<div class=\"message\">" +
                    "<p>" + msg.data + "</p>" +
                  "</div>" +
                "</div>";

      $("#messages").prepend(output);
    });

    // When vote cast send data to server to enable response (update) or question.
    // NOTE: this will only change IFF a down-vote has been cast.
    $(document).on('click', '.up-vote, .down-vote', function (e) {
        // Send relevant data (associated OEQ, rating, previous msg for analysis) to server.
        socket.emit('vote', {
          question: $('.service_message').first().text(),
          rating: $(this).attr('class').indexOf("down-vote") > -1 ?  "down": "up",
          prev_user_msg : $(this).closest('#messages').find('.client_message:first').text()
        });
        $('.feedback .vote-activated').toggleClass('vote-activated');
        $(this).toggleClass('vote-activated');
        return false;
    });

    // response sent from server to client once a vote has been cast.
    socket.on('vote response', function(msg) {
      obj = $('.service_message').first().find(".message > p");
      // Prevents fade if message does not change.
      if (obj.text() == msg.data) return;
      // Fade new message over previous to make it obvious it's changed.
      obj.fadeOut(function() { $(this).text(msg.data).fadeIn(200); });
    });
    {% endif %}
  });
  </script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-61560085-1', 'auto');
  ga('send', 'pageview');
  </script>
  {%- endblock %}
  <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css', _external=True) }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/custom.css', _external=True) }}" rel="stylesheet">
</head>
<body>
{%- block content -%}
{%- endblock %}
</body>
</html>
